@font-face {
    font-family: 'Euphemia-UCAS';
    src:url('../fonts/Euphemia-UCAS.ttf.woff') format('woff'),
        url('../fonts/Euphemia-UCAS.ttf.svg#Euphemia-UCAS') format('svg'),
        url('../fonts/Euphemia-UCAS.ttf.eot'),
        url('../fonts/Euphemia-UCAS.ttf.eot?#iefix') format('embedded-opentype'); 
    font-weight: normal;
    font-style: normal;
}
body {
  font-family: 'Euphemia-UCAS', Helvetica, Arial, sans-serif;
  font-size: 16px;
}
/* ---- HEADER ---- */
header {
  padding: 30px 55px;
  display: flex;
  justify-content: space-between;
}
header > div, header > nav {
  display: -webkit-inline-flex;
  display: inline-flex;
  text-align: center;
}
header > nav {
  align-items: flex-end;
  flex-wrap: nowrap;
  width: 50%;
  align-self: flex-end;
}
header > nav a {
  text-decoration: none;
  background-color: #B41E00;
  color: #FFF;
  text-transform: uppercase;
  padding: 12px 5px;
  flex-grow: 1;
  flex-basis: 80px;
  margin: 0 5px;
}
header > nav a:hover {
  font-weight: bold;
}
#logo img {
  width: 130px;
}
/* ---- FOOTER ---- */
footer {
  display: flex;
  flex-direction: row;
  -ms-flex-wrap: nowrap;
  flex-wrap: nowrap;
  justify-content: space-around;
  width: 100%;
  padding: 30px 0;
  text-align: left;
  background-color: #B41E00;
  color: #FFF;
}
footer > div {
  width: 20%;
}
footer h3 {
  text-transform: uppercase;
  font-weight: bold;
}
footer p {
  padding: 10px 0;
  line-height: 1.5;
}
footer p i {
  margin-right: 10px;
  font-size: 20px;
  text-decoration: none;
}
footer a {
  text-decoration: none;
  color: white;
}
/* ---- BANNER ---- */
.banner {
  color: white;
  background-repeat: no-repeat;
  background-size: cover;
  text-transform: uppercase;
  position: relative;
  padding: 0 0 80px 0;
}
#fashion {
  background-image: url(../images/freestocks-org-187367-unsplash.jpg);
}
.banner h2 {
  padding: 300px 0 0 0;
  font-weight: bolder;
}
.banner > .button {
  position: relative;
  margin: 100px auto 40px;
  width: 90px;
  border: 1px #FFF solid;
  padding: 10px;
  text-align: center;
  
}
.button a {
  text-decoration: none;
  color: #FFF
}
.button a:hover {
  font-weight: bold;
}
.content {
  display: grid;
  padding: 0 0 0 100px;
}

#accessories {
  background-image: url(../images/tamara.jpg);
}
/* ---- INSTA ---- */
#instatitle {
  text-transform: uppercase;
  background-color: #B41E00;
  color: #FFF;
  text-align: center;
  padding: 20px;
}
#instagram-feed {
  padding: 20px 90px;
}
/* ---- NEWS ---- */ 
.info {
  display: inline-block;
  vertical-align: top;
  width: 30%;
  margin: 80px 0;
}
.info #collection p {
  font-weight: bold;
}
#collection h2 {
  font-family: 'Shink', 'Euphemia-UCAS', Helvetica, Arial, sans-serif;
  color: #B41E00;
  font-size: 48px;
  margin-bottom: 10px;
}
#reserve {
  margin-top: 15px;  
}
#reserve p {
  font-family: 'Euphemia-UCAS', Helvetica, Arial, sans-serif;
  font-size: 16px;
  color: #000000;
  text-transform: uppercase;
}
/* ---- BRANDS ---- */
#brands {
  display: flex;
  justify-content: space-around;
  margin: 300px 0;
}
#brands img {
  max-width: 300px;
  max-height: 300px;
}
/* ---- COLLECTION ---- */
.collection {
  display: flex;
  flex-flow: row wrap;
  justify-content: flex-start;
  flex-grow: 1;
  margin: 50px 200px;
  clear: both;
}
.collection > figure {
  flex-basis: 26%;
  margin: 15px 20px;
}
.collection > figure > figcaption {
  margin: 10px 0;
  line-height: 1.5;
}
.collection > figure > figcaption .price {
  font-weight: bold;
}
.collection img {
  max-width: 300px;
  max-height: 500px;
}
/* ---- COLLECTION ---- */
.fotorama__dot {
  border: 1px solid #B41E00;
}
.fotorama__arr {
  background: none;
}
.fotorama__arr--prev {
  background-image: url('../images/prev.png');
  background-position: 0 0;
  background-repeat: no-repeat;
  background-attachment: fixed;
}
.fotorama__arr--next {
  background-image: url('../images/next.png');
  background-position: 0 0;
  background-repeat: no-repeat;
  background-attachment: fixed;

}
.carousel {
  display: block;
  width: 500px;
  margin: 80px auto;
  text-align: center;
}
.carousel .wide img {
  margin-top: 80px;
}
.half-carousel {
  display: inline-block;
  width: 30%;
  margin: 80px 100px 20px 220px;
}
/* ---- HISTORY ---- */
.history {
  background-color: #d98e7f;
  color: #FFF;
  margin: 50px 200px; 
  padding: 20px;
  line-height: 20px;
}
.history p {
  font-family: 'Euphemia-UCAS', Helvetica, Arial, sans-serif;
  font-size: 16px;
  margin: 10px;
  padding: 5px;
  text-align: justify;
  text-indent: 20px;
}
.history h2 {
  font-family: 'Shink', 'Euphemia-UCAS', Helvetica, Arial, sans-serif;
  font-size: 48px;
  margin: 20px;
  padding: 20px;
}
.history #map {
  width: 700px;
  margin: 0 auto;
}

.album {
  display: block;
  float: right;
  clear: both;
  margin: 10px 10px 10px 20px;
  border: 5px solid #FFF;
}
.album img {
  max-width: 300px;
  max-height: 500px; 
}
.history iframe {
  width: 700px;
  height: 500px;
  align-content: center;
}
/* ---- MEDIA QUERIES ---- */
/* iPads (portrait and landscape) ----------- */
@media only screen and (min-device-width : 768px) and (max-device-width : 1024px) {
  /* Styles */
}
/* Smartphones (portrait and landscape) ----------- */
@media only screen and (min-device-width : 320px) and (max-device-width : 480px) {
   /* Styles */
}